<link rel="stylesheet" href="css/new_diff_table.scss" type="text/css" />
<link rel="stylesheet" href="css/new_table.scss" type="text/css" />
<div class="table-title">
  Compare File: <b><%=file_names.first_file%></b> and File: <b><%=file_names.second_file%></b>
</div>
<input type="hidden" id="cid" name="cid" value='<%=diff_data.cid%>'>
<div class="buttons-group">
  <a href="/setup" id="setup" class="btn-submit">Back</a>
  <a href="/compare?<%=diff_data.encoded_params%>" class="btn-submit back">Compare</a>
</div>

<%= table_data_diff %>
